<h1>Listing favorites</h1>

<table>
  <thead>
    <tr>
      <th>Item numid</th>
      <th>Collect type</th>
      <th>Shared</th>
      <th>Nike</th>
      <th>Statues</th>
      <th>User</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.item_numid %></td>
        <td><%= favorite.collect_type %></td>
        <td><%= favorite.shared %></td>
        <td><%= favorite.nike %></td>
        <td><%= favorite.statues %></td>
        <td><%= favorite.user_id %></td>
        <td><%= favorite.title %></td>
        <td><%= link_to 'Show', favorite %></td>
        <td><%= link_to 'Edit', edit_favorite_path(favorite) %></td>
        <td><%= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite', new_favorite_path %>
