<h1>Listing shops</h1>

<table>
  <thead>
    <tr>
      <th>Sid</th>
      <th>Cid</th>
      <th>Nick</th>
      <th>Title</th>
      <th>Desc</th>
      <th>Bulletin</th>
      <th>Pic path</th>
      <th>Shop score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.sid %></td>
        <td><%= shop.cid %></td>
        <td><%= shop.nick %></td>
        <td><%= shop.title %></td>
        <td><%= shop.desc %></td>
        <td><%= shop.bulletin %></td>
        <td><%= shop.pic_path %></td>
        <td><%= shop.shop_score %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
